@import '../../shared/variables.scss';

.logo {
    transition: all 120ms;
    position: absolute;
    svg {
        stroke: $brand-red;
        height: 129.44px;
        width: 80px;
        z-index: 9;
    }
    &:hover {
        transform: scale(1.2);
    }
}