@import '../../shared/variables.scss';

svg.triad {
    position: absolute;
    overflow: visible !important;
    
    circle {
        fill: transparent;
        stroke-width: 1px;
        stroke: $brand-red;
        opacity: 0.4;
    }
}
