
html, body {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: #88888808;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    
    #root {
        width: 100vw;
        height: 100vh;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
    }
}